@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Medium.woff2") format("woff2"), url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Bold.woff2") format("woff2"), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.container {
  min-width: 320px;
  padding: 24px 16px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 288px;
}

.nav--margin-bottom {
  margin-bottom: 24px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.forms__text {
  line-height: 24px;
}

.nav__feedback {
  margin-left: auto;
}

.forms__repair {
  position: relative;
  margin-left: 20px;
}

.forms__repair::before {
  position: absolute;
  content: '';
  background: #EAEAEA;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  left: -20px;
  top: 9%;
}

.nav__tittle {
  font-family: 'TT Lakes';
  font-weight: bold;
  line-height: 40px;
  font-size: 1.75rem;
}

.services__tittle {
  margin-bottom: 24px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: scroll;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  max-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.services__items {
  margin-bottom: 6%;
}

.about-us {
  font-family: 'TT Lakes';
  font-size: 0.85rem;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  font-weight: 00;
}

.about-us__container {
  min-width: 289px;
}

.about-us__overflow {
  overflow: hidden;
  max-height: 90px;
  margin-bottom: 15px;
}

.about-us__text:not(:last-child) {
  margin-bottom: 20px;
}

.about-us__button {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
}

@media (min-width: 320px) {
  .nav__tittle {
    display: none;
  }
  .nav__feedback {
    display: none;
  }
  .nav__forms {
    margin-left: auto;
  }
  .forms__text {
    display: none;
  }
  .services__item--hidden1 {
    display: none;
  }
  .services__item--hidden2 {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav__tittle {
    display: none;
  }
  .nav__feedback {
    display: block;
  }
  .nav__forms {
    margin-left: 0;
  }
  .forms__text {
    display: none;
  }
  .nav__button {
    position: relative;
    margin-right: 20px;
    display: block;
  }
  .nav__button::before {
    position: absolute;
    content: '';
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    right: -19px;
    top: 9%;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: 1089px;
    padding: 42px 33px;
  }
  .services__tittle--hidden {
    display: none;
  }
  .services__item--hidden1 {
    display: block;
  }
  .services__item--hidden2 {
    display: none;
  }
  .nav__feedback {
    display: none;
  }
  .forms__text {
    display: block;
  }
  .button__icon {
    display: none;
  }
  .nav__logo {
    display: none;
  }
  .nav__tittle {
    display: block;
  }
  .nav__button {
    margin-left: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .nav__button::before {
    display: none;
  }
  .forms__repair {
    margin-left: 0;
    margin-right: 10px;
  }
  .forms__repair::before {
    display: none;
  }
  .services__items {
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
