@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Medium.woff2") format("woff2"), url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Bold.woff2") format("woff2"), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Lakes';
  font-size: 16px;
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #7E7E82;
}

a:active {
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.wrapper {
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #F8F8F8;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  margin: 0 auto;
}

.header__tittle {
  font-family: 'TT Lakes';
  font-weight: bold;
  line-height: 40px;
  font-size: 1.75rem;
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 18px 16px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 288px;
}

.header__feedback {
  display: none;
}

.forms__text {
  display: none;
}

.header__forms {
  margin-left: auto;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.forms__repair {
  position: relative;
  margin-left: 20px;
}

.forms__repair::before {
  position: absolute;
  content: '';
  background: #EAEAEA;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  left: -20px;
  top: 9%;
}

.forms__text {
  font-size: 16px;
  font-weight: 500;
}

h1 {
  position: relative;
}

h1::before {
  content: "";
  display: inline-block;
  background: url(../icons/Title-icon.svg);
  height: 40px;
  width: 4px;
  vertical-align: top;
  position: absolute;
  left: -1px;
  top: 20px;
}

.services__tittle--padding {
  padding: 25px 0 0 16px;
}

.services__container {
  display: block;
  margin: 0 auto;
  max-width: 1056px;
  padding: 0 16px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  padding-left: 18px;
  max-width: 1056px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 24px;
}

.services__item {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  padding: 8px 17px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 2px solid transparent;
  border-radius: 6px;
}

.services__item:hover {
  border: 2px solid #B8FFEC;
  background-color: #fff;
}

.item__link {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.about-us {
  font-family: 'TT Lakes';
  font-size: 0.9rem;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__container {
  padding: 0 16px;
  min-width: 289px;
}

.about-us__overflow {
  margin-bottom: 15px;
}

.about-us__photo-cps {
  width: 320px;
  height: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us__button {
  font-family: 'TT Lakes';
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.about-us__button::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 11px;
  background-image: url(../icons/check-down_icon.svg);
  vertical-align: center;
  margin: 0 13px 0 10px;
}

.about-us__text {
  margin-bottom: 20px;
}

@media (min-width: 320px) {
  .services__item--hidden1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 24px 24px;
  }
  .header__feedback {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__button {
    position: relative;
    margin-right: 20px;
    display: block;
  }
  .header__button::before {
    position: absolute;
    content: '';
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    right: -19px;
    top: 9%;
  }
  .services__container {
    padding: 0 24px;
  }
  .about-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-column-gap: 36px;
            column-gap: 36px;
  }
  .about-us__container {
    padding: 0 0 0 20px;
  }
  .about-us__overflow {
    max-width: auto;
    max-height: 150px;
    overflow: hidden;
  }
  .about-us__photo-container {
    padding-right: 25px;
  }
  .about-us__photo-cps {
    width: 360px;
    height: 208px;
  }
}

@media (min-width: 1120px) {
  .header {
    background-color: #F8F8F8;
    padding: 42px 33px 4px;
  }
  .header__button {
    display: none;
  }
  .header__tittle {
    display: block;
  }
  .header__logo {
    display: none;
  }
  .header__feedback {
    display: none;
  }
  .forms__repair {
    margin-left: 0;
  }
  .forms__repair::before {
    display: none;
  }
  h1 {
    position: relative;
  }
  h1::before {
    content: "";
    left: -33px;
    top: -1px;
  }
  .forms__text {
    display: block;
  }
  .services__container {
    padding: 0 34px;
  }
  .services__items {
    padding-left: 33px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .all__content {
    background-color: #F8F8F8;
  }
  .about-us__container {
    padding: 0 0 0 20px;
  }
  .services__tittle--hidden {
    display: none;
  }
  .about-us__photo-cps {
    width: 531.35px;
    height: 307px;
  }
  .about-us__container {
    padding: 0 0 0 31px;
  }
}
